/* Common styles for all screen sizes */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  display: flex;
  flex-direction: column;
  height: 800px;
  
}

/* Styles for the meeting table container */
.meeting-table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Styles for the meeting table */
.meeting-table {
  width: 95%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-top: 75px;
  font-family: sans-serif;
}

.meeting-table th, .meeting-table td {
  padding: 10px;
  text-align: center;
  position: sticky;
}

.meeting-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Styles for the table rows */
.meeting-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.meeting-table tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

/* Styles for the employee name */
.employee-name {
  font-weight: 500;
}

/* Styles for the action buttons */
.button-container button {
  padding: 5px 10px;
  margin: 5px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.update-button {
  background-color: #27ae60;
}

.delete-button {
  background-color: #e74c3c;
}

/* Styles for the pagination */
.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
}

.pagination-button {
  background-color: #3498db;
  padding: 5px 10px;
  border-radius: 4px;
}

/* Styles for the previous and next buttons */
.pagination-button:first-child,
.pagination-button:last-child {
  background-color: #007bff;
}

.pagination-button, .pagination li {
  cursor: pointer;
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #2581c2;
  border-radius: 3px;
}

.pagination-button:hover, .pagination li:hover {
  background-color: #2581c2;
}

.pagination-button.active, .pagination li.active {
  background-color: #007bff;
  color: #fff;
}
